/*     "*" is used to select everything in the HTML file    */

* {
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
}


nav{
    background-color: pink;
}





body {
    background-color: rgb(255, 225, 230);
}

/* When refering a TAG in the html file, just type the tag in CSS (it makes the change to every tag in the html file) */


main {
    padding: 0 1em
}



button {
    font-size: 30px;
}

/* You can select more than 1 tag at a time by placeing a "," between tags */

h1,h2 {
    color: rgb(104, 44, 5);
}

/* using "#" is refering to the ID element in HTML */
#signup {

    background-color: rgb(104, 44, 5);
    color: pink;
}

/* adding a "<span>" in html allows to style whatever is inside the tag in CSS */
.tag {
    font-size: larger;
    color: purple;
    font-weight:bold;
}
/* calling the anchor tag that is within the post class */
.post a{
    color: orange;
}
/* calling the anchor tag within the the footer tag */
footer > a{
    color: rgb(104, 44, 5);
}

